

.header-conteinet-inst {
    background-color: #436e90;
    text-align: center;
    height: 50px;
    margin: 2px;
}

.user-name {
    padding-top: 15px;
    margin: 0;
    color: white;
    font-weight: bold;
}

.top-info-block {
    display: flex;
    width: 100%;
}

.user-box {
    padding: 2px;
    border-radius: 5px;
    
}

.user-box-numbers {
    min-width: 100px;
    border-radius: 0px;
    border: solid 2px #b5b5b6;
    border-top: 0px;
    height: 50px;
}

.user-box-numbers-followers {
    min-width: 100px;
    border-radius: 0px;
    border: solid 2px #b5b5b6;
    border-top: 0px;
    border-left: 0px ;
    border-right: 0px;
    height: 50px;
}

.user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 5%;
}

.numbers-stats {
    text-align: center;
    margin-bottom: 0;
    margin-top: 4px;
}

.page-info-inst {
    background-color: #eeeeee;
    margin: 10%;
    border-radius: 5px;
    border: solid 2px #b5b5b6;
}

.stat-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.user-statistic {
    display: flex;
}

.block-following {
    height: 50px;
    border-radius: 0px;
    border: solid 2px #b5b5b6; 
    border-top: 0px;
    border-bottom: 0px;
    
}

.btn-following {
    margin: 5%;
}

.more-user-info {
    border-top: solid 2px #b5b5b6;     
}