.main-container {
  display: flex;
}
.all-icons {
  display: grid;
  max-width: 80px;
  height: 200px;
}

.grid-icons {
  max-width: 80px;
}

.icon {
    height: 33px;
    width: 33px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 2px;
    border: none;
    background-color: #048383;
}

.icons-name {
  margin: 0px;
  font-size: 12px;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  background-color: #82b3dd;
}

.window-icon {
  width: 10px;
  height: 10px;
}

.window-btn {
  background-color: #c0c0c0;
  border: solid 1px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  transition: background-color 150ms ease;
  margin-left: 2px;
}

.window-btn:hover {
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
}

.windowControlsIcon {
  margin-right: 10px;
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }
  
  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }
  
  .react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    border: solid 1px;
    border-top: solid 1px white;
    border-left: solid 1px white;
    background-image: url('../../img/arrow-bottom.png');
    background-size: cover;
  }

  .react-grid-item > .react-resizable-handle:hover {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
  }
  
  .react-grid-item > .react-resizable-handle::after {
    width: 0; 
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid black;
  }
  
  .react-grid-item:not(.react-grid-placeholder) {
    background: #c0c0c0;
    border: solid 1px;
    border-top: solid 1px white;
    border-left: solid 1px white;
  }

  .windowHeader {
    background: rgb(0,128,128);
    background: linear-gradient(90deg, rgba(0,128,128,1) 0%, rgba(0,204,216,1) 100%);
    display: flex;
    justify-content: space-between;
    height: 18;
    margin: 3;
  }
  
  .window-header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    height: 25px;
  }
  
  .logo-container {
    overflow: hidden;
  }
  
  .app-name {
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .actions-container {
    display: flex;
    padding-top: 3px;
  }
  
  .icon {
    color: black;
    font-size: 10px;
    padding-top: 5px;
  }
  
  .icon-titel {
    height: 16px;
    width: 16px;
    /* margin-top: 3px; */
    margin-right: 5px ;
  }
  
  .window-button-style {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    transition: background-color 150ms ease;
  }
  
  .window-controls-icon {
    pointer-events: none;
    user-select: none;
    width: 20px;
    height: 20px;
    transition: fill 150ms ease;
  }
  
  .settings-window:hover {
    background-color: orange;
  }
  
  .close-window:hover {
    background-color: #e6004c;
  }
  
  .settings-window:focus {
    outline: none;
  }
  
  .close-window:focus {
    outline: none;
  }
  
  .addButton:hover {
    letter-spacing: 0.8em;
    background-color: lightskyblue;
    cursor: pointer;
  }
  
  .addButton {
    height: 4em;
    width: 10%;
    min-width: 120px;
    padding: 1.5em auto;
    margin: 1em auto;
    background-color: lightblue;
    border: none;
    font-size: 12px !important;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .logoContainer {
    overflow: hidden
  }